doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        h1 HEllo from PUG Template
        ol
            each hero in heroes
                li #{hero}
        section 
            article First Aritcal
            article Second Artical
            article Third Artical 
            article Fourth Artical