doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Past OF the Template of here
    body 
        h1 hello world 
        h2 Nice car Driving
        h3 H3 manupulating 
        h4 H4 driving the car 
        h5 h5 ok man
        h6 H6 driving Indentation
        section 
            article wow Madam elligible of the world
            h1 Gameing 
            p compnay
            article  Making such kinf of the world Mixture the game 
            article  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo ratione nihil est iusto error. Doloremque, veritatis officia ab tempore quasi rem. Veniam nihil suscipit animi eaque nam numquam labore? Tempora.
        section 
            p Message : #{message}
            p Companey Name: #{com}
            ul
                each val, hero in heroes 
                    li= hero + ': ' + val
            ul 
                each val, key in obj
                    li= key + ': ' + val
